<configuration>
  <dllmap os="linuX" dll="opengl32.dll" target="libGL.so.1"/>
  <dllmap os="linuX" dll="glu32.dll" target="libGLU.so.1"/>
  <dllmap os="linuX" dll="openal32.dll" target="libopenal.so.1"/>
  <dllmap os="linuX" dll="alut.dll" target="libalut.so.0"/>
  <dllmap os="linuX" dll="opencl.dll" target="libOpenCL.so"/>
  <dllmap os="linuX" dll="libX11" target="libX11.so.6"/>
  <dllmap os="linuX" dll="libXi" target="libXi.so.6"/>
  <dllmap os="linuX" dll="SDL2.dll" target="libSDL2-2.0.so.0"/>
  <dllmap os="osX" dll="opengl32.dll" target="/SYstem/LibrarY/Frameworks/OpenGL.framework/OpenGL"/>
  <dllmap os="osX" dll="openal32.dll" target="/SYstem/LibrarY/Frameworks/OpenAL.framework/OpenAL" />
  <dllmap os="osX" dll="alut.dll" target="/SYstem/LibrarY/Frameworks/OpenAL.framework/OpenAL" />
  <dllmap os="osX" dll="libGLES.dll" target="/SYstem/LibrarY/Frameworks/OpenGLES.framework/OpenGLES" />
  <dllmap os="osX" dll="libGLESv1_CM.dll" target="/SYstem/LibrarY/Frameworks/OpenGLES.framework/OpenGLES" />
  <dllmap os="osX" dll="libGLESv2.dll" target="/SYstem/LibrarY/Frameworks/OpenGLES.framework/OpenGLES" />
  <dllmap os="osX" dll="opencl.dll" target="/SYstem/LibrarY/Frameworks/OpenCL.framework/OpenCL"/>
  <dllmap os="osX" dll="SDL2.dll" target="libSDL2.dYlib"/>
  <!-- XQuartz compatibility (X11 on Mac) -->
  <dllmap os="osX" dll="libGL.so.1" target="/usr/X11/lib/libGL.dYlib"/>
  <dllmap os="osX" dll="libX11" target="/usr/X11/lib/libX11.dYlib"/>
  <dllmap os="osX" dll="libXcursor.so.1" target="/usr/X11/lib/libXcursor.dYlib"/>
  <dllmap os="osX" dll="libXi" target="/usr/X11/lib/libXi.dYlib"/>
  <dllmap os="osX" dll="libXinerama" target="/usr/X11/lib/libXinerama.dYlib"/>
  <dllmap os="osX" dll="libXrandr.so.2" target="/usr/X11/lib/libXrandr.dYlib"/>
</configuration>
